#c1{
    border: 1px solid rgb(238, 236, 233);
    height: 1050px;

    border-radius: 2%;
    flex-wrap: wrap;
}
.chit{
    border: 2px solid white;
    height: 40px;
    text-align: center;
    text-decoration: underline;
    background:linear-gradient(to right,orange,white,green);
    color: rgb(3, 3, 173);
    font-size: xx-large;
    margin-top: 20px;
}
.chit2{
    border: 1px solid red;
    width: 400px;
    height: 50px;
    margin-left: 350px;
    margin-top: 20px;
    background-color: aqua;
    padding-left: 250px;
    padding-bottom: 30px;
    border-radius: 10px;
    font-weight: bold;
}
.chit3{
    border: 1px solid black;
    height: 270px;
    background-color: aquamarine;
    margin-top: 20px;
    border-radius:10px ;
}
.chit4{
    border: 1px solid green;
    width: 300px;
    height: 60px;
    font-size: small;
    margin-top: 10px;
    margin-left: 15px;
    padding-bottom: 10px;
    text-align: center;
    border-radius: 10px;
    background-color: aqua;

}
.chit5{
    border: 1px solid green;
    width: 300px;
    height: 60px;
    font-size: small;
    margin-top: 10px; 
    padding-bottom: 10px;
    margin-left: 500px;
    margin-top: -70px;
    text-align: center;
    border-radius: 10px;
    background-color: aqua;
}
.chit6{
    border: 1px solid green;
    width: 300px;
    height: 60px;
    font-size: small;
    margin-top: 10px; 
    padding-bottom: 10px;
    margin-left: 1010px; 
    margin-top: -70px;
    text-align: center;
    border-radius: 10px;
    background-color: aqua;
}
.chit7{
    border: 1px solid green;
    width: 300px;
    height: 60px;
    font-size: small;
    margin-top: 10px; 
    padding-bottom: 10px;
    margin-left: 250px;
    text-align: center;
    border-radius: 10px;
    background-color: aqua; 
}
.chit8{
    border: 1px solid green;
    width: 300px;
    height: 60px;
    font-size: small;
    margin-top: 10px; 
    padding-bottom: 10px;
    margin-left: 750px;
    margin-top: -70px;
    text-align: center;
    border-radius: 10px;
    background-color: aqua;
}
.chit9{
    border: 1px solid green;
    width: 300px;
    height: 60px;
    font-size: small;
    margin-top: 10px; 
    padding-bottom: 10px;
    margin-left: 500px;
    text-align: center;
    border-radius: 10px;
    background-color: aqua;  
}
.chit10{
    border: 1px solid white;
    height: 40px;
    background: linear-gradient(to right,orange, white,green);
    font-weight: bold;
    text-align: center;
    font-size: xx-large;
    color:rgb(3, 3, 173); 
    margin-top: 10px;
}
.chit11{
    border: 1px solid rgb(216, 17, 17);
    height: 200px;
background: radial-gradient(orange, white, green);;
margin-top: 15px;
justify-content: space-evenly;
grid-template-columns: auto auto auto auto;
display: grid;
}
.chit12{
    border: 1px solid red;
    width: 150px;
    height: 100px;
    background: yellow;
    color: brown;
    text-align: center;
    text-decoration: underline;
    padding-bottom: 10px;
    margin-top: 30px;
    margin-left: 30px;
    border-radius: 10px;
    justify-content: space-evenly;
}
.chit13{
    border: 1px solid black ;
    width: 1000px;
    height: 255px;
    margin-top: 30px;
}
.chit14{
    border: 1px solid white;
    height: 20px;
    background-color: rgb(228, 9, 9);
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
}
.chit15{
    border: 1px solid white;
    width: 300px;
    height: 60px;
    background-color: rgb(125, 212, 144);
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    color: aliceblue;
    margin-top: 5px;
    
}
.chit16{
    border: 1px solid white;
    width: 300px;
    height: 60px;
    background-color: rgb(151, 150, 219);
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: aliceblue; 
    margin-top: -62px; 
    margin-left: 300px;
}
.chit17{
    border: 1px solid white;
    width: 300px;
    height: 60px;
    background-color: rgb(4, 0, 236);
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: aliceblue;  
    margin-left: 600px;
    margin-top: -62px;
}
.chit18{
    border: 1px solid wheat;
    background-color: yellow;
    width: 900px;
    height: 100px;
    margin-top: 10px;
}
.chit19{
    border: 1px solid wheat;
    width: 100px;
    height: 175px;
    background-color: black;
    color: wheat;
    margin-left: 900px;
    margin-top: -175px;
}
.chit20{
    border: 1px solid white;
    height: 20px;
    background-color: aqua;
    text-align: center;
    margin-top: 20px;
}